<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azurestagingtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>azurestagingtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>azurestagingtest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$azurestagingtest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MovieDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:webdevcamp.database.windows.net,1433;Initial Catalog=webdevcamp;User ID=hudo@webdevcamp;Password=Mypassword1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:webdevcamp.database.windows.net,1433;Database=webdevcamp;User ID=hudo@webdevcamp;Password=Mypassword1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebAppSample.Models.MovieDbContext, WebAppSample" MigrationConfiguration="WebAppSample.Migrations.Configuration, WebAppSample" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MovieDBContext-Web.config Connection String">
      <ParameterValue>Server=tcp:webdevcamp.database.windows.net,1433;Database=webdevcamp;User ID=hudo@webdevcamp;Password=Mypassword1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>